<h1>Edit Article</h1>

<%= form_with model: @article do |form| %>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |message| %>
                <div> <%= message %> </div>
            <% end %>
        </div>
    <% end %>  

  <div class="mb-3">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], class: "form-control" %>
  </div>

    <div class="mb-3 ">
        <%= form.submit "Update Article", class: "btn btn-primary" %>
    </div>
<% end %>